@import url('https://cdn.jsdelivr.net/npm/plusplusjakartasans@latest/plusjakartasans.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--doc-height: 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	height: 100vh; /* fallback for Js load */
	height: var(--doc-height);
}
html {
	height: -webkit-fill-available;
	background-color: #262626;
}
