@import url('https://cdn.jsdelivr.net/npm/plusplusjakartasans@latest/plusjakartasans.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: env(safe-area-inset-top) env(safe-area-inset-right)
		env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
	background-color: #fafafa;
}

.h-screen {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}
