@import url('https://cdn.jsdelivr.net/npm/plusplusjakartasans@latest/plusjakartasans.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--doc-height: 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100vh; /* fallback for Js load */
	height: var(--doc-height);
	background-color: #262626;
}
